@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --f-all: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-all);
}

body {
    background: radial-gradient(circle at 50% 50%, rgb(18,18,18), rgb(16,16,16));
}

/* FLASHCARD APP */

.flashcard-app {
    width: 100%;
    min-height: 100vh;
    padding-block: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

/* FLASHCARD THEMSELVES */

.flashcard-themselves {
    width: 350px;
}

.flashcard-itself {
    width: 100%;
    /* min-height: 250px; */
    background-color: rgb(40, 40, 40);
    border-radius: 1rem;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.05);
    padding: 8px;
    position: relative;
    transition: transform 500ms;
}

.flashcard-itself-flipped {
    transform: perspective(500px) rotateY(180deg);
}

.flashcard-itself-flipped > .flashcard-itself-inner > .flashcard-itself-inner-question {
    opacity: 0;
}

.flashcard-itself-flipped > .flashcard-itself-inner > .flashcard-itself-inner-answer {
    opacity: 1;
}

/* FLASHCARD ITSELF INNER */

.flashcard-itself-inner {
    --bg-color: rgb(20,20,20);
    /* width: calc(100% - 16px); */
    /* height: calc(100% - 16px); */
    min-height: 250px;
    background-color: var(--bg-color);
    /* position: absolute; */
    border-radius: 0.5rem;
    border: 1px solid rgba(255,255,255,0.15);
    overflow: hidden;
}

/* FLASHCARD ITSELF INNER QUESTION */

.flashcard-itself-inner-question {
    width: 100%;
    height: 100%;
    /* position: absolute;
    top: 0;
    left: 0; */
    background-color: var(--bg-color);
    z-index: 1;
    color: white;
    padding: 20px;
    opacity: 1;
    transition: opacity 100ms;
    transition-delay: 100ms;
}

.flashcard-itself-inner-question-text {
    font-weight: 600;
    float: left;
    padding-right: 5px;
}

.flash-card-itself-inner-question-itself {
    font-weight: 300;
    line-height: 22px;
}

/* FLASHCARD ITSELF INNER ANSWER */

.flashcard-itself-inner-answer {
    transform: rotateY(180deg);
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    position: absolute;
    border-radius: 0.5rem;
    top: 8px;
    left: 8px;
    background-color: var(--bg-color);
    opacity: 0;
    padding: 20px;
    color: white;
    transition-delay: 100ms;
    transition: opacity 150ms;
}

.flashcard-itself-inner-answer-text {
    font-weight: 600;
    float: left;
    padding-right: 5px;
}

.flash-card-itself-inner-answer-itself {
    font-weight: 300;
    line-height: 22px;
}

/* FLASHCARD CONTROLS */

.flashcard-controls {
    display: flex;
    column-gap: 15px;
}

.flashcard-control-button-itself {
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 0.2rem;
    border: 0;
    background-color: rgb(35,35,35);
    border-top: 1px solid rgba(255,255,255,0.05);
    border-bottom: 1px solid rgba(255,255,255,0.02);
    color: white;
    font-weight: 300;
    cursor: pointer;
}

.flashcard-control-button-itself:hover {
    background-color: rgb(40,40,40);
}

.flashcard-control-button-itself:active {
    background-color: rgb(30,30,30);
}

.flashcard-control-button-itself:disabled {
    opacity: 0;
    pointer-events: none;
}

/* FLASHCARD SHADOW */

.flashcard-shadow {
    width: 350px;
    height: 20px;
    background-color: rgb(120, 120, 120);
    border-radius: 50%;
    filter: blur(20px);
    transform: perspective(500px) rotateX(80deg);
    transition: transform 500ms;
}

.flashcard-shadow-flipped {
    transform: perspective(500px) rotateX(80deg) rotateZ(-180deg);
}