/* NAVBAR */

nav {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    height: 43px;
    padding-inline: 4px;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
    background-color: rgba(30,30,31,0.5);
    backdrop-filter: blur(25px);
    column-gap: 4px;
}

/* NAVBAR BUTTON */

.navbar-button {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    border: 0;
    background-color: rgb(35,35,35);
    border-top: 1px solid rgba(255,255,255,0.06);
    border-bottom: 1px solid rgba(255,255,255,0.02);
    cursor: pointer;
    transition: background-color 200ms;
}

.navbar-button-svg {
    width: 17px;
    height: 17px;
    color: white;
}

.navbar-button:hover {
    background-color: rgb(45,45,45);
}